@import "tailwindcss";

@layer base {
  .font-title {
    font-family: "Fraunces", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-mulish {
    font-family: "Mulish", sans-serif;
  }
}

html,
body,
#root {
  min-height: 100%;
  background-color: var(--viewport-background);
  color: var(--primary);
}

:root {
  --viewport-background: var(--background);
  --background: #d9cfc7;
  --surface-0: #cfc2b9;
  --surface-1: #c5b5aa;

  --primary: #2b2623;
  --primary-surface-0: #221e1c;
  --primary-surface-1: #161412;
  --primary-hover: #0c0908;

  --accent: #b8472c;

  --border: #3b322d;
  --line: rgba(255, 255, 255, 0.08);

  --critical: #d23742;
}

@theme {
  --color-background: var(--background);

  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);

  --color-primary: var(--primary);
  --color-primary-surface-0: var(--primary-surface-0);
  --color-primary-surface-1: var(--primary-surface-1);
  --color-primary-hover: var(--primary-hover);

  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-line: var(--line);

  --color-critical: var(--critical);
}
